body {
  font-family: cambria;
  font-size: 16px;
  margin: 0;
  color: #444;
  background-color: #f0f0f0;
  padding: .5rem;
}

h1,
h2,
h3,
h4,
h5,h6,
p {
  margin: .25rem 0 0.1rem 0;
  padding: 0;
}

header {
  border-bottom: 1px solid #222;
  box-sizing: border-box;
  padding: .5rem .5rem 0 .5rem;
}

footer {
  border-top: 1px solid #222;
  box-sizing: border-box;
  padding: 0 .5rem .5rem .5rem;
}

main {
  padding: .5rem .5rem;
  max-width: 640px;
  margin: 0 auto;
}

.content {
  padding: 1rem;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}
