.todo-list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  max-width: 320px;
  border: 1px solid #666;
  border-top: none;
  border-bottom: none;
  box-sizing: border-box;
  box-shadow: 0 0 2px #222;
  min-height: 143px;
  max-height: 80vh;
  overflow: auto;
}

.todo-list__item {
  background-color: #fefefe;
  padding: .5rem;
  display: flex;
  flex-flow: row;
}

.todo-list__item a {
  flex: 1 1 76%;
  line-height: 2rem;
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Complete and delete button */
.todo-list__item p {
  text-align: right;
  flex: 1 1 12%;
  margin: 0;
}

.todo-list__item .btn{
  font-size: 0;
  line-height: 0;
  padding: .25rem .5rem;
}

.todo-list__item .btn::after{
  content: "tick";
  display: block;
  text-indent: 0;
  line-height: normal;
  font-size: 24px;
}

.todo-list__item .btn-danger{
  border-color: darkred;
  padding: .175rem .4rem .175rem .5rem;
}

.todo-list__item .btn-danger::after{
  content: "\2718";
}

.todo-list__item .btn-success {
  border-color: darkgreen;
  padding: .175rem .3rem .175rem .3rem;
}

.todo-list__item .btn-success::after{
  content: "\2714";
}

.todo-list__item--complete {
  background-color: #e2ffe2;
}

.todo-list__item:not(:last-child) {
  border-bottom: 1px dashed #222;
}

/* Add button styles */
.todo-list + p {
  list-style-type: none;
  padding: .25rem;
  margin: 0 auto;
  max-width: 320px;
  border: 1px solid #666;
  border-top: none;
  box-sizing: border-box;
  box-shadow: 0 0 2px #222;
  border-radius: 0 0 10px 10px;
  background-color: #fafafa;
}


.todo-list + p button {
  border-radius: 0 0 0 5px;
}
