.todo-list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  max-width: 320px;
  border: 1px solid #666;
  border-top: none;
  border-bottom: none;
  box-sizing: border-box;
  box-shadow: 0 0 2px #222;
  min-height: 143px;
  max-height: 80vh;
  overflow: auto;
}

.todo-list + p {
  list-style-type: none;
  padding: .25rem;
  margin: 0 auto;
  max-width: 320px;
  border: 1px solid #666;
  border-top: none;
  box-sizing: border-box;
  box-shadow: 0 0 2px #222;
  border-radius: 0 0 10px 10px;
  background-color: #fafafa;
}


.todo-list + p button {
  border-radius: 0 0 0 5px;
}

.todo-list__item {
  background-color: #fefefe;
  padding: .5rem;
}

.todo-list__item:not(:last-child) {
  border-bottom: 1px dashed #222;
}